/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1a1a1a;
  color: #fff;
  background-color: #1a1a1a;
}

/* Header-Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #000;
  position: relative;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 70px;
}

.logo h1 sup {
  font-size: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-menu li i{
  display: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
}

nav ul li a:hover {
  color: #ff6f61;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background: #333;
  padding: 10px 0;
  min-width: 150px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu a {
  display: block;
  padding: 5px 10px;
  color: #fff;
  background-color: transparent;
}

.dropdown-menu a:hover {
  background-color: #444;
}

.dropdown:hover .dropdown-menu {
  display: block;
  z-index: 2;
}

@media screen and (max-width: 840px) {
  nav ul li span{
    display: none;
  }

  .nav-menu li i{
    display: block;
  }
}

@media screen and (max-width: 500px){
  .logo img{
    height: 40px;
  }

  header{
    padding: 10px 5px;
  }
}

@media screen and (max-width: 400px){
  nav ul li a{
    font-size: 15px;
  }

  nav ul {
    gap: 15px;
  }

  nav{
    margin-left: -50px;
  }
}

@media screen and (max-width: 350px){
  .logo img{
    height: 25px;
  }

  header{
    padding: 3px 5px;
  }
}

/* Hero-Section */
.hero {
  background: url('images/Valentine.jpg') no-repeat center center/cover;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: #fff;
  position: relative;
  padding-left: 70px;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h2 {
  font-size: 4rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 10px 0 50px;
}

.hero-content a{
  background: #ff6f61;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: 500;
}

.hero-content a:hover{
  background-color: #e04e4c;
  border-color: #e04e4c;
}

.countdown {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.countdown #timer {
  display: flex;
  gap: 10px;
  font-size: 2rem;
}

@media screen and (max-width: 800px){
  .hero{
    padding-left: 30px
  }
}

@media screen and (max-width: 500px){
  .hero{
    padding-left: 10px;
    padding-right: 10px;
    max-height: 400px;
  }

  .hero-content h2 {
    font-size: 2.5rem;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .hero-content p {
    display: none;
  }

  .hero-content a{
    margin-top: 100px;
    padding: 8px 10px;
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .countdown {
    margin-top: 10px;
  }

  .countdown #timer {
    display: flex;
    font-size: 1.5rem;
    margin-top: -20px;
  }
}

/* Marquee Container */
@import url('https://fonts.googleapis.com/css2?family-Roboto&display=swap');

.marquee{
  margin-top: 40px;
  box-sizing: border-box;
  font-family: 'Impact', sans-serif;
  display: flex;
  justify-content: flex-start;
  background: #ff6f61;
  overflow: hidden;
  box-shadow: 5px solid #000;
}

.marquee h1{
  font-size: 30px;
  font-weight: lighter;
  color: #eeeff1;
  white-space: nowrap;
  padding: 0 0.5rem;
  animation: move-rtl 6000ms linear infinite;
}

@keyframes move-rtl{
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 500px){
  .marquee{
    margin-top: 20px;
  }

  .marquee h1{
    font-size: 20px;
  }
}

/* Events-Section */
.featured-events {
  padding: 30px 20px;
  background-color: #1a1a1a;
  text-align: center;
}

.featured-events h2 {
  font-size: 50px;
  text-align: center;
}

.event-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  max-width: 1320px; 
  margin: 0 auto;
}

.event-grid {
  display: flex;
  gap: 20px; 
  scroll-behavior: smooth; 
  width: calc(300px * 4 + 20px * 3); 
  overflow: hidden; 
}

.event-card {
  flex: 0 0 auto; 
  width: 300px; 
  background: #eeeff1;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 50px;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-image {
  position: relative;
}

.event-card a {
  flex: 1;
  font-size: small;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: 2px solid #000;
  background-color: #000;
  transition: 0.1s;
  text-decoration: none;
  margin: 0 5px;
}

.event-card a:first-child{
  background-color: #000;
  border: #000;
}

.event-card a:hover {
  background-color: #e04e4c;
  border-color: #e04e4c;
}

.event-card a i {
  margin-right: 5px;
}

.event-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.event-links {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px;
  margin-left: -5px;
}

.event-info {
  display: flex;
  padding: 15px;
}

.event-details h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: -15px;
  color: #333;
  text-align: left;
}

.event-details p {
  font-size: 12px;
  color: #777;
  text-align: left;
}

.event-details i {
  color: #777;
  text-align: left;
  font-size: 12px;
  margin-right: 5px;
}

.event-details span {
  font-size: 12px;
  color: #777;
  text-align: left;
}

.event-date {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.event-time {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.event-location {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.nav-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  z-index: 2;
  border-radius: 50%;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.event-grid::-webkit-scrollbar {
  display: none;
}

.event-grid {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@media screen and (max-width: 700px){
  .featured-events h2 {
    margin-top: -10px;
  }
}

@media screen and (max-width: 500px){
  .featured-events h2 {
    font-size: 33px;
  }

  .event-image img {
    height: 130px;
  }

  .featured-events {
    margin-bottom: -20px;
  }
}

@media screen and (max-width: 300px){
  .event-card {
    width: 250px; 
    height: 340px;
  }

  .event-details h3 {
    font-size: 18px;
    margin-top: -15px;
  }

  .event-date {
    margin-top: -10px;
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .event-time {
    margin-top: 3px;
    display: flex;
    align-items: center;
    text-align: left;
  }
  
  .event-location {
    margin-top: 3px;
    display: flex;
    align-items: center;
    text-align: left;
  }

  .event-links {
    display: column;
    justify-content: space-between;
    padding: 0 15px 15px;
    margin-left: -5px;
  }
}

/* Gallery Section */
.gallery-container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}

.gallery-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-color: #1a1a1a;
	padding: 100px 0%;
}
.gallery-section .gallery-filter{
	padding: 0 15px;
	width: 100%;
	text-align: center;
	margin-bottom: 20px;
}
.gallery-section .gallery-filter span{
  padding: 10px 20px;
  font-family: 'Poppins', sans-serif;
}

.gallery-section .gallery-filter .filter-item{
	color: #ffffff;
	font-size: 15px;
	display: inline-block;
	margin:0 10px;
	cursor: pointer;
	border-bottom: 2px solid transparent;
	line-height: 1.2;
	transition: all 0.3s ease;
  background-color: #333;
}
.gallery-section .gallery-filter .filter-item.active{
	color: #fff;
  background-color: #ff6f61;
}

.gallery-section .gallery-item{
	width: calc(100% / 4);
	text-align: center;
}

.gallery-section .gallery-item-inner img{
	width: 100%;

}
.gallery-section .gallery-item.show{
	animation: fadeIn 0.5s ease;
}
@keyframes fadeIn{
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}
.gallery-section .gallery-item.hide{
	display: none;
}

/*responsive*/
@media(max-width: 991px){
	.gallery .gallery-item{
		width: 50%;
	}
}
@media(max-width: 767px){
    .gallery .gallery-item{
		width: 100%;
	}	
	.gallery .gallery-filter .filter-item{
		margin-bottom: 10px;
	}
}

/* About-Section */
.about-section {
  padding: 70px 20px 200px;
  background-color: #1a1a1a;
  text-align: left;
}

.about-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.about-card {
  background: #eeeff1;
  overflow: hidden;
  width: 300px;
  transition: transform 0.3s ease-in-out;
}

.about-card:hover{
  background: #ff6f61;
}

.about-section h2 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 30px;
}

.about-card h3{
  color: #000;
  text-align: center;
  font-size: 24px;
}

.about-card:hover {
  transform: scale(1.05);
}

.about-card i {
  display: block; 
  text-align: center; 
  font-size: 70px; 
  color: #000;
  margin-top: 20px; 
  margin-bottom: 10px; 
}

.about-card hr {
  color: #ff6f61;
  width: 30%; 
  margin: 0 auto; 
  margin-top: -35px;
  border: none; 
  border-top: 3px solid #ff6f61;
}

.about-card:hover hr {
  border-top-color: #000; 
}

.about-card p {
  text-align: center; 
  font-family: Arial, sans-serif;
  font-size: 16px; 
  color: #333; 
  padding: 0 20px; 
}

/* Team-Section */
.team-section{
  background: #1a1a1a;
  text-align: center;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  overflow: hidden;
}

.team-section h1{
  font-size: 50px;
  display: inline-block;
}

.pe {
  width: calc(100% / 5);
  padding: 20px;
  transition: 0.4s;
}

.pers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pe img{
  width: 200px;
}

.p-name{
  margin: 0px 0;
  text-transform: uppercase;
  color: #fff;
}

.p-des{
  font-style: italic;
  color: #ff6f61;
}

.p-sm{
  margin-top: 3px;
}

.p-sm a{
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}

.p-sm a i{
  color: #fff;
  line-height: 30px;
}

.p-sm a i:hover{
  color: #ff6f61;
}
@media screen and (max-width:600px) {
  .pe{
    width: 100%;
  }
}

/* Footer-Section */
footer {
  background: #000;
  overflow: hidden;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.social-links {
  margin-bottom: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 15px; 
}

.social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center; 
}

.social-links a:last-child{
  margin-left: -3px;
}

.social-links img {
  width: 28px;
  height: auto; 
  display: inline-block;
}

@media screen and (max-width:500px){
  footer{
    padding: 5px;
  }

  .social-links{
    margin-bottom: 0px;
  }

  .social-links a{
    font-size: 1rem;
  }

  .social-links img{
    width: 25px;
  }

  footer p{
    margin-top: -0px;
    font-size: 1rem;
  }
}

