/* General Styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #1a1a1a;
  color: #fff;
  background-color: #000;
}

/* Header-Section */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: #000;
  position: relative;
  z-index: 1000;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); 
}

header .logo {
  display: flex;
  align-items: center;
}

header .logo img {
  height: 50px;
  margin-right: 10px;
}

header .logo h1 {
  margin: 0;
  padding-left: -10px;
  font-size: 2rem;
  font-weight: bolder;
}

/* General Navbar Styles */
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  position: relative; /* Important for dropdown positioning */
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  display: block;
  text-align: left;
}

nav ul li a:hover {
  color: #ff6f61;
}

nav ul .dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #333;
  padding: 10px 0;
  min-width: 150px;
  list-style: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

nav ul .dropdown-menu li {
  display: block;
  text-align: left;
  padding: 5px 10px;
}

nav ul .dropdown-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 1px 1px;
}

nav ul .dropdown-menu li a:hover {
  color: #ff6f61;
}

/* Show dropdown on hover */
nav ul .dropdown:hover .dropdown-menu {
  display: block;
}

/* Hero-Section */
.hero {
  background: url('https://ucb0ba691f2a38bd7060fc83483a.previews.dropboxusercontent.com/p/thumb/ACnNl5ckcEgyUcXhifeXm7CHgYmgmGKHYjRC7Wpva9TIXEcsFX6raDwaG-cAe_8BiFm55WGHKfzZ0fRwxrHIjj5pI4t5MzFPI0KsnT8z0lnjeA5cWhU_3d8R3ci7xRtHbiMgQ_gDrL2vmd_WnRyqnSovIhxDUiIdASMDD8HyZoKa5ccNDlUjJJ0ZeHbBj85-b7NivUlyXDeiteKQNkhhkOgdk4NX1Uehf-fSvJVvES3KNEG__MiL_0V4HcC4TseqnTiJzJCKpcYXL1ZgWmE2IcmAQcdgnDfJSPC8H55dgLLlRipq9gtaRtvDNMHYiSHR8_fvg3TvJzIRyG8RW-BVeSbiDXpld1ACsgx_7dVmLgitNGRI2CruvxsfKsU8gMVpXmL5Vry8lUsh29mUtl62E4UMLkrEL1OH0F4jSWnhIwuyYhFc9NSmMtWDJIOE2Y7pJerpJRot-4IUD8jjPco75dymFflfqDnBZ3qeKX6jXWSTUW8wWc_bkYhSsbkngamIg7xPvhL4GdC0Ey4K5hmM4Etn_Z-4ylgN-Zsl5SisIllFdAtx6x_VYweWUFnA0BlxNlVvM4GEEXV38ARyb1BTLv2m6SdzMjW_F4vfGJkMlocDjsEJBWvKlX3cTYxNXYdxvxUwpLiPO2GDACjIgeskujOz/p.jpeg') no-repeat center center/cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: #fff;
  position: relative;
  padding-left: 70px;
  z-index: 1;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hero-content {
  position: relative;
  z-index: 2;
}

.hero-content h2 {
  font-size: 4rem;
  margin: 0;
}

.hero-content p {
  font-size: 1.2rem;
  margin: 10px 0 50px;
}

.hero-content a{
  background: #ff6f61;
  color: #fff;
  padding: 15px 20px;
  text-decoration: none;
  font-weight: 500;
}

.hero-content a:hover{
  background-color: #e04e4c;
  border-color: #e04e4c;
}

.countdown {
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.countdown #timer {
  display: flex;
  gap: 10px;
  font-size: 2rem;
}

/* Events-Section */
.featured-events {
  padding: 30px 20px;
  background-color: #1a1a1a;
  text-align: left;
}

.featured-events h2 {
  font-size: 50px;
  text-align: center;
}

.event-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.event-card {
  background: #eeeff1;
  overflow: hidden;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  margin-bottom: 60px;
}

.event-card:hover {
  transform: scale(1.05);
}

.event-image {
  position: relative;
}

.event-card a {
  flex: 1;
  font-size: small;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border: 2px solid #000;
  background-color: #000;
  transition: 0.1s;
  text-decoration: none;
  margin: 0 5px;
}

.event-card a:first-child{
  background-color: #000;
  border: #000;
}

.event-card a:hover {
  background-color: #e04e4c;
  border-color: #e04e4c;
}

.event-card a i {
  margin-right: 5px;
}

.event-image img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.event-links {
  display: flex;
  justify-content: space-between;
  padding: 0 15px 15px;
  margin-left: -5px;
}

.event-info {
  display: flex;
  padding: 15px;
}

.event-details h3 {
  font-size: 20px;
  margin: 0;
  margin-bottom: -15px;
  color: #333;
  text-align: left;
}

.event-details p {
  font-size: 12px;
  color: #777;
  text-align: left;
}

.event-details i {
  color: #777;
  text-align: left;
  font-size: 12px;
  margin-right: 5px;
}

.event-details span {
  font-size: 12px;
  color: #777;
  text-align: left;
}

.event-date {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.event-time {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

.event-location {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: left;
}

/* Gallery Section */
.gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.gallery-section h2{
  margin-top: 70px;
  text-align: center;
  font-size: 50px;
  margin-bottom: -25px;
}

.gallery {
  width: 65%;
}

.gallery-container {
  align-items: center;
  display: flex;
  height: 600px;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;
}

.gallery-item {
  height: 300px;
  opacity: 0;
  position: absolute;
  transition: all 0.3s ease-in-out;
  width: 495px;
  z-index: 0;
  background-size:contain;
}

.gallery-item-1 {
  left: 10%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-item-2,
.gallery-item-4 {
  height: 375px;
  opacity: 0.8;
  width: 570px;
  z-index: 1;
}

.gallery-item-2 {
  left: 25%;
  transform: translateX(-50%);
}

.gallery-item-3 {
  box-shadow: -2px 5px 33px 6px rgba(0,0,0,0.35);
  height: 450px;
  opacity: 1;
  left: 50%;
  transform: translateX(-50%);
  width: 645px;
  z-index: 2;
}

.gallery-item-4 {
  left: 75%;
  transform: translateX(-50%);
}

.gallery-item-5 {
  left: 90%;
  opacity: .4;
  transform: translateX(-50%);
}

.gallery-controls {
  display: flex;
  justify-content: center;
  margin: -10px 0; 
  height: 50px; 
}

.gallery-controls button {
  color: white;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  margin: -20px 50px;
  padding: 0 12px;
  text-transform: capitalize;
}

.gallery-controls button:focus {
  outline: none;
}

.gallery-controls-previous {
  position: relative;
}

.gallery-controls-previous::before {
  border: solid #eeeff1;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  left: -30px;
  padding: 10px;
  position: absolute;
  top: 25%;
  transform: rotate(135deg) translateY(-50%);
  transition: left 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-previous:hover::before {
  left: -40px;
}

.gallery-controls-next {
  position: relative;
}

.gallery-controls-next::before {
  margin-top: 10px;
  border: solid #eeeff1;
  border-width: 0 5px 5px 0;
  content: '';
  display: inline-block;
  height: 5px;
  padding: 10px;
  position: absolute;
  right: -30px;
  top: 45;
  transform: rotate(-45deg) translateY(-50%);
  transition: right 0.15s ease-in-out;
  width: 5px;
}

.gallery-controls-next:hover::before {
  right: -40px;
}

.gallery-nav {
  bottom: -15px;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  position: absolute;
  width: 100%;
}

.gallery-nav li {
  background: #ccc;
  border-radius: 50%;
  height: 10px;
  margin: 0 16px;
  width: 10px;
}

.gallery-nav li.gallery-item-selected {
  background: #555;
}

/* About-Section */
.about-section {
  padding: 30px 20px;
  background-color: #1a1a1a;
  text-align: left;
}

.about-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.about-card {
  background: #eeeff1;
  overflow: hidden;
  max-width: 300px;
  transition: transform 0.3s ease-in-out;
  position: relative;
  margin-bottom: 125px;
}

.about-card:hover{
  background: #ff6f61;
}

.about-section h2 {
  font-size: 50px;
  text-align: center;
}

.about-card h3{
  color: #000;
  text-align: center;
  font-size: 24px;
}

.about-card:hover {
  transform: scale(1.05);
}

.about-card i {
  display: block; 
  text-align: center; 
  font-size: 70px; 
  color: #000;
  margin-top: 20px; 
  margin-bottom: 10px; 
}

.about-card hr {
  color: #ff6f61;
  width: 30%; 
  margin: 0 auto; 
  margin-top: -35px;
  border: none; 
  border-top: 3px solid #ff6f61;
}

.about-card:hover hr {
  border-top-color: #000; 
}

.about-card p {
  text-align: center; 
  font-family: Arial, sans-serif;
  font-size: 16px; 
  color: #333; 
  padding: 0 20px; 
}

/* Team-Section */
.team-section{
  background: #000;
  text-align: center;
}

.inner-width{
  max-width: 1200px;
  margin: auto;
  padding: 40px;
  overflow: hidden;
}

.team-section h1{
  font-size: 50px;
  display: inline-block;
}

.pe {
  width: calc(100% / 4);
  padding: 20px;
  transition: 0.4s;
}

.pers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pe img{
  width: 200px;
}

.p-name{
  margin: 0px 0;
  text-transform: uppercase;
  color: #fff;
}

.p-des{
  font-style: italic;
  color: #ff6f61;
}

.p-sm{
  margin-top: 3px;
}

.p-sm a{
  margin: 0 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  transition: 0.4s;
}

.p-sm a i{
  color: #fff;
  line-height: 30px;
}

.p-sm a i:hover{
  color: #ff6f61;
}
@media screen and (max-width:600px) {
  .pe{
    width: 100%;
  }
}

/* Footer-Section */
footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Ensure it appears correctly */
  position: relative; /* Ensures it stacks properly */
}

.social-links {
  margin-bottom: 10px;
  display: flex; 
  justify-content: center; 
  align-items: center; 
  gap: 15px; 
}

.social-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  display: flex;
  align-items: center; 
}

.social-links a:last-child{
  margin-left: -3px;
}

.social-links img {
  width: 28px;
  height: auto; 
  display: inline-block;
}

